# Binary
mcp-language-server

# Test output
test-output/
*.diff
integrationtests/workspaces/clangd/compile_commands.json
integrationtests/workspaces/clangd/src/*.o


# Temporary files
*~

CLAUDE.md*
.mcp.json
.goosehints
